**

# Allow files and directories
!api/**
!controllers/**
!prisma/schemas/models.prisma
!prisma/migrations/**
!prisma/index.js
!utils/**
!index.js
!server.js
!package.json
!package-lock.json
!deploy.sh